
@{
    ViewBag.Title = "Index";
}

    <h2 class="text-center">Benvenuto/a su PosteCifa</h2>
        <div class="card shadow-lg w-75 my-4 mx-auto text-bg-primary">
            <div class="d-md-flex">
                <img src="~/Content/assets/sebastiano.jpg" class="card-img-top w-md-50 w-25" alt="Delivery">
                <div class="card-body">
                    <h5 class="card-title">Chi Siamo?</h5>
                    <p class="card-text">
                        I RE del delivery! <hr /> L'unico servizio di spedizione che non sfrutta i propri dipendenti!
                        Non sappiamo se la tua spedizione arriverà a destinazione,
                        ma nessuno si è mai lamentato, soprattutto i nostri dipendenti.
                    </p>
                </div>
            </div>
        </div>

        <div class="card shadow-lg w-75 my-4 mx-auto">
            <div class="d-md-flex flex-row-reverse text-bg-primary">
                <img src="~/Content/assets/Marco.jpeg" class="card-img-top w-md-50 w-25" alt="Guard">
                <div class="card-body">
                    <h5 class="card-title">Hai bisogno di  Protezione?</h5>
                    <p class="card-text">
                        Se cerchi protezione chiameremo il nostro Bodyguard di fiducia, Marco Puccio!
                        Con lui tutti i pacchi arrivano a destinazione, la dogana scappa al suo passaggio!
                        Non te ne pentirai! E se avete Domande, Commenti, Opinioni, non fatevi  problemi
                        a contattarlo!
                    </p>
                </div>
            </div>
        </div>

        <div class="card shadow-lg w-75 my-4 mx-auto">
            <div class="d-md-flex text-bg-primary">
                <img src="~/Content/assets/Capitano1.jpeg" class="card-img-top w-md-50 w-25" alt="Pirata">
                <div class="card-body">
                    <h5 class="card-title">Cerchi un Pirata?</h5>
                    <p class="card-text">
                        Se hai bisogno di un Pirata forse sei nel posto sbagliato.
                        Ci sentiamo sul Dark.
                        Lasciaci un messaggio, saremo noi a trovarti!
                    </p>
                    <div class="d-flex flex-column">
                        <input placeholder="Lascia un messaggio" />
                        <button class="btn btn-warning my-2">Invia</button>
                    </div>
                </div>
            </div>
        </div>

